@font-face {
font-family: "TitilliumText";
src: url('../font/TitilliumText25L004.otf');
}

/*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6,a, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr,iframe {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
	text-decoration:none;
	list-style:none;
	font-family: Arial,Helvetica,sans-serif;
	
}

a,a:active,a:hover {outline: none;}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}


/* General  Style */ 

html {
	overflow-y:scroll;
}


body{
	background:url(../images/pattern/1.png) repeat ;
	font:100% Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight:normal;
	font-style:normal;
}

iframe{
	min-height:410px;
}

#wrapper{
	margin:60px auto 20px auto;
	width:700px;
	background:url(../images/shadow.png) no-repeat center bottom;
	position:relative;
}

#header {
	position:relative;
	z-index:10;
	margin-bottom:15px;
}

.header-icon{
	display: inline-block !important;
	font-size: 30px;
	cursor: pointer;
}

h2{
	font-size:20px;
}

.description h2{
	font-family:"TitilliumText";
}

#header h2{
	position:absolute;
	top:13px;
	left:466px;
	width:208px;
	height:55px;
	z-index: 1;	
}

.slides li{
	display:none;
}

.welcome-text{
	display:block;
	float:left;
}

.flexslider{
	height:60px;
	padding: 20px 20px 5px 60px;
	font-size:26px;
	color:#fff;
}


.slides span{
	margin-left:5px;
	color:#E51400;
    font-family:'Pacifico', cursive;
}

#home-nav-wraper{
	margin-top:20px;
}

.home-icon{
	font-size:100px;
	margin-top:10px;
}

.home-nav{
	color:#fff;
	padding-top:5%;
	width:100%;
	z-index:5;
	
}

.home-nav span{
	display:block;
	text-align:center;
	font-size:25px;
}


#home-nav-wraper a
{
	display:block;
	position:relative;
	float:left;
	width:48%;
	height:166px;
	margin-bottom:15px;
}

#home-nav-wraper a:nth-child(odd) {

}
#home-nav-wraper a:nth-child(even) {
	margin-left:4%;
}

.home-icon-container{
	text-align:center;
	display:block;

	
}


.mini-shadow{
	display:block;
	margin:auto;
	width:100%;
	
}

.mini-shadow-container{
	position:absolute;
	bottom: 0;
	width:100%;
	z-index:1;
}

.article-container{
	position:absolute;
}






.description{
	padding:20px;
	color:#ffffff;
}




#social h2, #portfolio h2, #contact h2, #download h2{
	border-bottom:1px solid #ebebeb;
	margin-bottom:10px;
	padding-bottom:10px;
}


/**/



#tabsContainer{	
	border-top:5px solid #ef0007;
	margin:0 auto;
	background:#fff;
	-moz-box-shadow : 0px 0px 4px rgba(0,0,0,0.19);
	-webkit-box-shadow :0px 0px 4px rgba(0,0,0,0.19);
	box-shadow:0px 0px 4px rgba(0,0,0,0.19);
	border-radius:4px;
	position:relative;	
}

#innerBg{	
	margin:0 auto;
	border-radius:0 0 4px 4px;
	border:1px solid #ebebeb;
	-moz-box-shadow : 0px 0px 13px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow :0px 0px 13px rgba(0,0,0,0.1) inset;
	box-shadow:0px 0px 13px rgba(0,0,0,0.1) inset;
	padding:20px 25px 30px 25px;
}

#mainNav ul
{
	
	margin:0 ;
	padding:0;
	position:relative;
}

#mainNav li{
	
	display:inline;
	font-size:13px;
	padding-left:10px;
}

#mainNav li a{
	
	font-weight:bold;
	color:#999;
	text-shadow:1px 1px #eee;
	display:inline-block;
	padding: 0 5px 5px 10px;
	text-align:center;
}

#mainNav li a span{
	display:block;
}

#mainNav a.active{
	-moz-transition: color 0.2s ease-out 0.3s;
	-webkit-transition : color 0.2s ease-out 0.3s;
	background:url(../images/arrow-red.png) no-repeat center 50px;
	color:#ef0007;
	z-index:1000;
}

article{
	font-size:12px;
	color:#999;
}

footer p{
	text-align:center;
	color:#999;
	margin-top:15px;
	font-size:11px;
}

footer span {
	color:#666;
}


footer span + span a{
	color:#ef0007;
}
/* End general style */ 


/*Style for the about tab*/

div#about{
	float:right;
	width:395px;
	height:191px;
	color:#ffffff;
	margin-top:10px;
	
}



div#about h1{
	font-family: "TitilliumText";
	font-size:30px;
	color:#666;
}

div#about h2{
	font-family: "TitilliumText";
	font-size:20px;
	font-weight:bold;
}

#name-group{
	margin-bottom:12px;
	padding-bottom:12px;
	border-bottom:1px solid #ebebeb;
	color:#ffffff;
	padding:20px;
}

#name-group h1{
	font-size:24px;
}


#skill-container{
	display:block;
	float:left;
	width:100%;
	margin-top:30px;
}

.skill-group{
	width:33%;
	display:block;
	float:left;
}

#skill-container h2{
	padding-bottom:15px;
}



#introduction h2{
	margin-bottom:4px;
}

#introduction p{
	margin-bottom:8px;
}

#skills h2{
	margin-bottom:8px;
}

#skills ul li {
	background: url(../images/checkList.png) no-repeat scroll 6px center #EBEBEB;
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 3px 23px;
}

.skillList{
	float:left;
	margin-right:20px;
}






/*about new*/
/**/

.progress {
overflow: hidden;
height: 20px;
margin-bottom: 20px;
background-color: #f7f7f7;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: url('../images/bar.png');
width:90%;

}


.progress .bar {
width: 0%;
height: 100%;
color: #ffffff;
float: left;
text-align: center;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #0e90d2;
background-repeat: repeat-x;
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
font-size: 12px;
}

.background-purple, .bar.background-purple {
background-color: #A200FF;
}



.title-score {
float: right;
padding: 0px 10px;
height: 100%;
background: url('../images/black20.png');
}


#myself-container{
	border:1px solid #efefef;
	padding:5px;
	display:block;
	float:left;
	width:180px;
	height:220px;
	margin-top:10px;
	
}


/* Style for the portfolio tab*/


ul#category{
	padding-bottom:10px;
	padding-top:10px;
	margin-top:10px;
}

ul#category li {
	display:inline-block;
	margin-right:20px;
	padding:8px;
	background:#999;
	-moz-border-radius : 4px 4px 4px 4px;
	-webkit-border-radius : 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	padding: 3px 10px;		
}

ul#category li a{
	color:#fff;
}

ul#category li:hover{
	color:#fff;
	background-color: #ef0007 !important;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#works{
	margin-left:0;
}

.current{
	background-color: #ef0007 !important;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

ul li.item {
    float: left;
    height: 315px;
    margin-right: 1px;
    margin-top: 20px;
    padding: 5px 5px 10px;
    width: 205px;
}

li.item h3{
	font-weight:bold;
	margin-top:5px;
	color:#EFEFEF;
	margin-top:20px;
	margin-bottom:4px;
}

li.item h3 span{
	font-weight:bold;
	margin-top:5px;
	color:#666;
}

.portfolio li{
	position:relative;
}
.portfolio-description{
	display:block;
	padding:10px;
	color:#fff;
	z-index:5;
}



.item-container{
	width:200px;
	height:330px;
	position:relative;
}


/* End Style for the portfolio tab */


/* Style for the social tab*/

.social-item, .download-item{
	z-index:5;
	padding:20px 28px 20px 28px;
	left:0;
	right:0; 
}

.social-item h3{
	font-size:16px;
	text-align:center;
	margin-top:10px;
	
}

#socialsLists{
	margin-top:20px;
}

#socialsLists li{
	position:relative;
}

.social-container{
	height:125px;
	width:100%;
}


ul.socialList1, ul.socialList2{
	width:200px;
	cursor:pointer;
}

ul.socialList1 li , ul.socialList2 li {
	margin-bottom:20px;
}

ul.socialList1{
	float:left;
	margin-right:23px;
}

 ul.socialList2{
	float:right;
}

.social-image{
	width:50px;
	height:50px;
	display:block;
	float:left;
	font-size:50px;
	color:#ffffff;
	margin-top:-15px;
	
}


ul.socialList1 li h3 , ul.socialList2 li h3{
	font-weight:bold;
	color:#666;
}

ul.socialList1 li span , ul.socialList2 li span{
	font-weight:normal;
	color:#fff;
	display: block;
	float: left;
	padding: 10px 5px 0 5px;
	margin-top:10px;
}

#twitter{
	padding:20px;
}

#twitter img , #twitter h2 {
	float:left;
	border:none;
	color:#666;
}
#twitter img{
	margin-right:25px;
	margin-top:15px;
}

#twitter h2{
	margin-right:50px;
	margin-top:10px;
	margin-left:10px;
	padding:0;	
}

#twitter h3{
	font-weight:bold;
	color:#666;
}
#twitter span{
	font-size:11px;
	color:#fff;
}

/*End Style for the social tab*/


/*Style for the contact tab*/

#contactForm h3 , #contactInfo h3{
	font-size:16px;
	color:#fff;
}

#contactForm{
	width:270px;
	border-right:1px solid #ebebeb;
	float:left;
	padding:20px;
	margin-top:20px;
	min-height:360px;
}



input[type="text"], input[type="email"] ,textarea{
	margin-bottom:10px;
	padding-left:10px;
	border:solid 1px #efefef;
	border-radius:4px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color:#666;
	outline-width: 0;
}

input[type="text"], input[type="email"] {
	width: 250px;
	height: 27px;
}

textarea {
	width: 250px;
	height: 115px;
	display: block;
	padding-top:10px;
	margin-bottom:15px;
}

input#submit{
	background:#666;
	border-radius:4px;
	border:none;
	width:120px;
	height:32px;
	padding:10px 10px -1px 10px;
	color:#fff;
	cursor:pointer;
	margin-left:85px;
}

input#submit:hover{
	background-color:#ef0007;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#contactInfo{
	margin-top:20px;
	width:280px;
	float:right;
	padding:20px;
	color:#fff;
	min-height:360px;
}

#contactInfo img{
	border: 1px solid #EFEFEF;
	padding:4px;
	margin-bottom:5px;
	
}

#contactInfo ul li  {
	margin-bottom:2px;
	line-height:20px;
}

p.hr{
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 9px;
	padding-bottom: 10px;
} 

#contactInfo ul li span {
	font-weight:bold;
	color:#666;	
}

.tooltip {
	z-index:1000;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#fff;
	background-color:#666;
	border-radius:4px;
	}
.tooltip .tip-inner {
	font-size:11px;font-weight:bold;
	}
.tooltip .tip-arrow-left {
	margin-top:-4px; 
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(../images/tooltipbg.png) no-repeat -26px 0;
} 


#map-canvas{
	width:100%;
	min-height:420px;

}



/*Style for download tab*/

#download-container{
	position:relative;
	margin-top:20px;
	height:105px;
}

#download-container h3{
	font-size:18px;
	padding-top:10px;
	text-align:center;
}


#download-container a{
	color:#fff;
}


/*End sytle for the contact tab*/


label.error{
	display:block;
	padding-bottom:10px;
	font-size:11px;
	color:#ff0000;
	font-weight:bold;
}

/*Style switcher*/

#styleswitcher {
    position: absolute;
    left: 0px;
    top: 165px;
	background:#fff;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	border-radius: 4px;
	padding:6px;
	-moz-box-shadow : 0px 0px 4px rgba(0,0,0,0.19);
	-webkit-box-shadow :0px 0px 4px rgba(0,0,0,0.19);
	 box-shadow:0px 0px 4px rgba(0,0,0,0.19);
	z-index:1000;
}

#styleswitcher #inset{
	border:1px solid #ebebeb;
	-moz-box-shadow : 0px 0px 13px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow :0px 0px 13px rgba(0,0,0,0.1) inset;
	box-shadow:0px 0px 13px rgba(0,0,0,0.1) inset;
	padding:7px
	
}

#coloroptions, #patternoptions{
	position:relative;
}

#coloroptions ul li a{
 	display: block;
    height: 20px;
	width:35px;
    overflow: hidden;
    text-indent: -999px;
	margin-bottom:4px;
}

#coloroptions ul li.red{
	background:#ef0007;
	
}

#coloroptions ul li.blue{
	background:#00b4d9;
}

#coloroptions ul li.yellow{
	background:#fdc62a;
}

#coloroptions ul li.green{
	background:#a7d140;
}

#coloroptions ul li.purple{
	background-color:#cc1099;
}


#patternoptions ul li {
	margin-bottom:4px;
	width:35px;
	height:20px;
}

.figcol {
    left: -20px;
    position: absolute;
    top: -55px;
}

.figpatt {
    left: -26px;
    position: absolute;
    top: 140px;
}

/*End style switcher*/

/* Clear float style*/
.clearfix:before,
.clearfix:after{
	content:"";
	display:table;
}

.clearfix:after{
	clear:both;
}
/*End clear float style */


/*-------------------------------------------------------------------------*/

/* Media queries */

/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {

/* Wrapper style */		
#wrapper{width:750px;}

/* Header style */	
#header h2{left:518px;}

/* Image style */
figure#img{margin-left:28px;}

/* Works style(portfolio section) */	
#works{margin-left:25px;}

ul.socialList1, ul.socialList2 {
width: 215px;
}

/* Contact style (contact section)*/	
#contactForm {width: 320px; }
#contactInfo{ width:280px;}

div#about{
	width:445px;
}

input[type="text"], input[type="email"],textarea {
	margin-top:10px;
	margin-bottom:15px;
	width: 300px;
}

input#submit{float:right;}


/* Style switcher (removing the style switcher in the small device) */
#styleswitcher{display:none;}

}

/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
/* preventing font-size from scaling */	
html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}

/* Wrapper style */	
#wrapper{width:470px;background:url(../images/shadow-470.png) no-repeat center bottom;}

/* Nav style */	
#mainNav li{padding-left: 0px;}

/* Header style */
#header h2{left:253px;}

/* Image style */	
figure#img{
	margin-left:28px;
	padding:5px 5px 5px 5px;
	background: url(../images/img-470.png) no-repeat center center !important;
	width:324px;
	height:206px;
	margin-bottom:20px;
}

/*Home page style*/

.flexslider {height: 45px;padding: 30px 10px 10px 20px;font-size: 18px;color: #fff;}
.welcome-text {display: block;float: left;}
#home-nav-wraper a{height:160px;}


/* About style (about section) */
#about hgroup, #introduction, #skills{margin-left:20px;}	
#introduction p{font-size:11.8px;}
#skills ul li {padding: 3px 18px;}

/* Works style(portfolio section) */
#works {margin-left: -2px;}
ul li.item {margin-right: 5px;width: 195px;}
li.item h3 {width: 186px;}

/* Social style (social section) */
#twitter img {margin-right: 6px;}
#twitter h2 {margin-right: 7px;}
ul.socialList1{ margin-right:9px;}
ul.socialList2{float:left;}


/* Contact style (contact section)*/
#contactForm, #contactInfo{float:none;}
#contactForm{margin-bottom:20px;width:auto; min-height:0;}
#contactInfo{width:auto;}


input[type="text"], input[type="email"] {
	width: 350px;
	height: 27px;
}
input#submit{margin-left:0;}

textarea {
	width: 350px;
	height: 115px;
	display: block;
	padding-top:10px;
	margin-bottom:15px;
}


/* Footer style */
footer p{font-size:11px}

/* Style switcher (removing the style switcher in the small device) */
#styleswitcher{display:none;}


.skill-group{
	width:100%;
}

div#about{
	width:auto;
	height:auto;
}

#myself-container{
	float:none;
	margin-left:auto;
	margin-right:auto;
}



iframe{
	min-height:290px;
}




}


/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width: 479px) {

iframe{
	min-height:110px;
}
/* Wrapper style */		
#wrapper{width:300px;background:url(../images/shadow-300.png) no-repeat center bottom;}	

/* Inner style */	
#innerBg{padding-top:10px;}

/* Nav style */	
#mainNav li a {padding:2px 10px 15px 10px;}

/* Header style */	
#header h2 {
	left:45px;
	top:55px;
	position:absolute;
	background:url(../images/v-card-red-300.png) no-repeat !important;
}

/*Home page style*/

.flexslider {height: 45px;padding: 30px 10px 20px 20px;font-size: 18px;color: #fff; position:relative}
.slides{
	position:absolute;
	left:50px;
	bottom:10px;
}
.welcome-text {display: block;float: left;}
#home-nav-wraper a{height:160px;}

#home-nav-wraper a:nth-child(even) {
margin-left: auto;
}

#home-nav-wraper a {
	width:100%
}

#myself-container{
	float:none;
	margin-left:auto;
	margin-right:auto;
}


/* Image style */	
figure#img{margin-left:31px;}

/* About style (about section) */	
div#about {width:auto; height:100%;}
#skills ul li {padding: 3px 20px;}

.skill-group{
	width:100%;
}



/* Portfolio style (portfolio section) */		
ul#category {width: 230px;}		
ul#category li{margin-bottom:5px;margin-right:9px;padding:4px;}		
#works {margin-left: 19px;}											
ul li.item{float:none;}
li.item h3{width:187px;}	

/* Social style (social section) */		
		
ul.socialList1, ul.socialList2 {
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
	width:100%;
	float:none;
	}
	
#twitter h2{margin-right:10px;}

/* Contact style (contact section)*/
#contact,#social,#portfolio{margin-top:20px;}
#contactForm, #contactInfo {float: none;width: auto;border:none; min-height:0;}
form{margin-left:8px;}			
#contactForm{ margin-bottom:20px;}
input[type="text"], input[type="email"]{width:90%;}
textarea{width:91%;}
input#submit{margin-left:0;}
#contactInfo img{
	width:95%;
}


/* Style switcher (removing the style switcher in the small device) */
#styleswitcher{display:none;}
	
}

/*End Media queries*/

/*-------------------------------------------------------------------------*/